<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thymeleaf测试</title>
</head>
<body>
<h1 th:text="students">Thymeleaf 测试</h1>
<table cellpadding="0" cellspacing="0" width="1000px" height="50px" align="left">
    <thead style="background-color: aquamarine" align="left">
    <th>index</th>
    <th>学生学号</th>
    <th>学生姓名</th>
    <th>学生性别</th>
    <th>学生年龄</th>
    <th>学生院系</th>
    </thead>
    <tbody>
    <tr th:each="st,stat:${students}" th:class="${stat.even}?'even':'odd'"
        th:style="'background-color:'+${stat.odd?'#ffe77f':'#d682e4'}">
        <td th:text="${stat.index}"></td>
        <td th:text="${st.getSno()}"></td>
        <td th:text="${st.getSname()}"></td>
        <td th:text="${st.getSsex()}"></td>
        <td th:text="${st.getSage()}"></td>
        <td th:text="${st.getDept()}"></td>
    </tr>
    </tbody>
</table>
</body>
</body>
</html>