<component name="ArtifactManager">
  <artifact type="war" name="MyBatisTest:war">
    <output-path>$PROJECT_DIR$/MyBatisTest/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>MyBatisTest</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="MyBatisTest.war">
      <element id="artifact" artifact-name="MyBatisTest:war exploded" />
    </root>
  </artifact>
</component>